#logo {
    width: 50px;
    height: 50px;
    rotate: 20deg;
}

#header {
    font-family: fantasy;
    font-size: 70px;
    color: cadetblue;
}

#logOut_btn {
    text-align: left;
}

#b_text {
    font-family: monospace;
    color: rosybrown;
    font-size: 40px;
}

#logout {
    font-size: 20px; float: right;
}

#body_background {
    background-image: url(background_penguein.jpg);
    background-size: cover;
}

.room_div {
    cursor: pointer;
    font-size: 25px;
}

.div_msg_box {
    width: 100%;
    position: fixed;
    bottom: 0;
}